.App {
  text-align: center;
  
}
body {
  margin: 0;
}
.App {
  display: grid;
  margin-top: 100px;
  border: 1px solid black;
  width: 400px;
  margin-left: 35%;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.equalSign {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
}
.grid-item {
  border: none;
  
}
.grid-container {
  display: grid;
  grid-gap: 5px 5px;
}
.mathSigns {
  background-color: silver;
  height:50px
}
.numbers{
  height:50px
}
.numbers:hover {
  background-color: rgb(15, 157, 15);
  color: white;
}
.equalSign {
  background-color: rgb(26, 84, 200);
  color: white;
}

.result{
  border: solid 1px rgba(199, 198, 198, 0.646);
  width:390px;
  height:50px;
  margin: 5px 5px;
  text-align: right;
}